*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}


/* start of project */
.project{
    background-image:url(../image/b2.jpg);
    height:750px;
    background-size: cover;
    background-position: center;

}
header{
    
    display: flex;
    flex-wrap:wrap;
    padding:25px 0 0 25px;
    justify-content: space-between;
}
.logo{
    font-size:30px;
    color:#fff;

}

nav ul{
    list-style-type :none;
}
ul li {
    display:inline-block;

}
 .main li a{
    color:#fff;
    padding:5px 25px;
    text-decoration: none;
    font-size: 25px;
}
.main li a:hover{
    color:rgb(29, 104, 29) ;
}
.active{
    color:rgb(29, 104, 29) !important ;
}

 h1{
    color:#ffff;
  padding-top:175px ;   
}
 h2{
    color:#ffff;
    font-size: 30px;
    padding-top:15px; 
}
 p{
    color:#fff;
    font-size: 15px;
    padding-top:20px;
}
.top{
    text-align: center;
}
.top button{
    background-color:seagreen;
    border-radius:60px;
    /* padding-left:10px; */
    border:solid;
    border-color: rgb(238, 130, 130);
    color: black;
    margin-left:45px;
    margin-top:50px;
    font-size:25px;
    text-align: center;  
}
.top button:hover{
    background-color:rgb(56, 243, 56) ;
    color:darkred;
}
.p1{
    color:rgb(56, 243, 56) !important ;
    font-size: 25px;  
}
/* end of project */





/* start of up */
.up .down img{  
    height:350px;
    width:500px;
    /* background-size:cover; */
    padding:45px 0 0 200px;   
}
.up{
    display:flex;
}
h3{
    color:black;
    padding-top:45px;
    padding-left: 60px;
 
}
.cap {
    color:black !important;
    padding-left:5%;
    padding-top:30px;
    font-size:20px;
    
}
.per button{
    padding-top:10px;
border-radius:50%;
font-size:60px;
border:circle;
border-color: blue;
}
.per p{
    color:black;
    padding-top:20px;
}
/* end of first */





/* start of second */

.second{
    background-image:url(../image/s1.jpg);
    background-size: cover;
    height:900px;
    background-position:center;
    margin-top:30px; 
    width:100%; 
}
.second .second-rap{
    display:flex;
    width:50%;
}
.second p{
    padding-top: 15px;
    padding-left:150px;
    font-size:20px;
    width:50%;
}
.second h3{
    color:lawngreen;
    padding-left:200px;
    font-size:20px;

    
}
.second h2{
    color:#ffff;
    padding-left:200px;
    font-size:40px;
    padding-top:10px;
    padding-bottom:30px;
}
.products{
width:80%;
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
margin-left:10%;    
}
.product-item{
    width:33%;
    background-color:#ffff;
    height:250px;
    box-shadow: 0 0 6px rgba(0,0,0,0.8); 
}

.products .product-item h3{
    font-size:20px;
    padding-top:20px;
}
.products .product-item p{
font-size:15px;
color:rgba(0, 0, 0, 0.534);
padding-right:30px;
padding-top:15px;

}
.card{
width: 100%;
display: flex;
flex-wrap: wrap;
}
.product-item .product-icon i{
    padding-top:50px;
    padding-left:50%;
    font-size:60px;

}
/* end of second */

/* start of third */

.third{
    display:flex;
}
 .third h3{
    color:chartreuse;
    font-size:30px;
    padding-left:400px;
}
.third h2{
    color: black;
    padding-top:90px;
    text-align: left;
}

.third  p{
    color:rgba(17, 15, 15, 0.644);
    padding-top:90px;
    padding-left:20px;
}


.gallary{
    /* box-sizing: border-box; */
    height: 900px; 
    margin-top:50px;
    justify-content:space-evenly;

  
}
.gallary img{
     /* height:300px;
    width:250px; */
    float:left;
    padding:30px;
    justify-content: space-evenly;

}
/* end of third */



/*  start of fourth */
.fourth{
    display:flex;
    justify-content: space-evenly;
    height: 250px;
    width: 100%;
    background-color: chartreuse;
    align-items: center;
    padding-top:10px;
    
}
.forth .item{
    
    width:25%;
    background-color:rgba(9, 221, 9, 0.336);
}
.fourth .item i{
    padding-top:50px;
    font-size:50px;
    align-items: center;
}
.fourth .item h4{
    padding-top:15px;
    color:black;
    text-align:center;
    padding-right:5px;
}
.fourth .item p b{
    color:white;
    font-size:25px;
}

/* end of fourth */


/* start of fifth */
.fifth{
    height:600px;
    margin-top:70px;
    margin-bottom: 50px;
     
}
.fifth .term p{
     color:rgba(0, 0, 0, 0.699);
     font-size:20px;
     padding-left:230px;

}
.fifth .term{
    display: flex;
}
.fifth .term .t1 p{
    color:rgba(0, 128, 0, 0.329);
    font-size:30px;
    padding-left:85px;
}
.fifth .term h2{
    color:black;
    text-align: center;
    padding-left:90px;
    font-size:40px;
    padding-bottom: 80px;
}
.fifth img{
    padding-left: 200px;
}
.fifth .t2{
    display: flex;
}

.fifth .Item{
    height:150px;
    width:600px;
    margin-top: 10px;
    margin-left:100px;
    border-radius: 5%;
    color:black;
    box-shadow:5px 5px 6px rgba(0,0,0,0.4),-5px -5px 6px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}
.fifth .Item i{
    font-size:50px;
    padding-left:60px;
    padding-top:50px;
    text-shadow:3px 3px 3px rgba(7, 6, 6, 0.699);
}
.fifth .t2 .container .Item{
    display: flex;
    
}
.fifth .t2 .container .Item h3{
    color:rgba(14, 226, 25, 0.664);
    font-size:20px;
}
.fifth .t2 .container .Item p{
    color:rgba(0, 0, 0, 0.432);
    width:75%;
    padding-left:50px;
}

/* end of fifth */



/* start of sixth */

.super{
    height:800px;
    margin-top:200px;
    background-image:url(../image/b2.jpg);

}
.super .sixth{
    display:flex;
}
.super .sixth .one p{
    font-size:30px;
    color:rgba(39, 240, 39, 0.582);
    padding-top:90px;
    padding-left:500px;
}
.super .sixth .one h2{
padding-left: 465px;
font-size:40px;

}
.super .sixth .two p{
    color:#fff;
    font-size:20px;
    padding-top:100px;
    padding-left:60px;
}
 .three{ 
    width:700px;
    display:flex;
    
    
}
.three .ite h2{
    margin-top:90px;    
    font-size:20px;
    color:red;
    padding-left:200px;
    text-align:center;
    justify-content: space-evenly;   
}
.three .ite p{
    float:left;
    font-size:20px;
    color:rgba(243, 242, 247, 0.63);
    padding-left:200px;
}
.three .ite button{
    text-align:center;
    margin-top:25px;
    margin-left:200px;
    font-size: 15px;
    background-color:rgb(62, 230, 62);
    padding:8px;
    border-radius:10px;
}
.three .ite button:hover{
    background-color:black;
    color:white;
}


/* end of sixth */



/* start of seventh */
   .main1{
       width:100%;
       height:850px;
       margin-top:50px;
   }
   .main1 .seventh{
       display:flex;
   }
   .main1 .seventh .one p{ 
       color:rgba(0, 0, 0, 0.507);
       font-size:20px;
       padding-left:180px;
       margin-top:25px;   
   }
   .main1 .seventh .two h3{
       color:rgb(66, 248, 66);
       font-size:25px;
   }
   .main1 .seventh .two h2{
       color:black;
       font-size:40px;
       padding-left:50px;
   }
.main1 .three {
    margin-top:100px;
    margin-left:100px;
}
.main1 .three .It{
    padding-left:200px;
}
.main1 .three .It .ted{ 
    color:rgb(65, 235, 65);
    font-size:25px;
}
.main1 .three .It p{
    color:rgba(0, 0, 0, 0.541);
    font-size:25px;
}
.main1 .three .It .te{
color:rgba(0, 0, 0, 0.349);
font-size:20px;
}

/* end of seventh */


/* start of eight */
.eight {
    width:100%;
    background-color:rgb(115, 115, 226);
    
}
.eight .main2 iframe{
    height:500px;
}
.eight p{
    color:rgb(103, 235, 103);
    font-size: 30px;
    text-align:center;
}
.eight .te{
    color:rgba(0, 0, 0, 0.363);
    font-size:20px;
}

/* end of eight */


/* start of nine */
.nine{
    height:300px;
    width:100%;
    margin-top:50px;
   
}
.main2 .nine{
    display:flex;
}
.main2 .nine .one{
    width:700px;
    padding-top:120px;
    padding-left:100px;
}
.main2 .nine .one p{
    color:rgba(0, 0, 0, 0.568);
    font-size:25px; 
}
.main2 .nine .two h3{
    font-size:35px;
    color:rgb(34, 241, 34);
    padding-top:120px;
}
.main2 .nine .two h2{
    color:black;
    font-size:45px;
    padding-left:45px;
}

/* end of nine */




/* start of ten */
.ten{
    height:800px;
    width:100%;
    display:flex;
    
}
.ten .three{
    padding-top:100px;
    padding-left:250px;
}
.ten .three input{
    font-size:20px;
    margin:25px;
    box-shadow: 0 0 6px rgba(8, 3, 3, 0.4);
    width:300px;
    border-radius:5px;
    padding:15px;
}
.ten .three  #Message{
    height:150px;
}
.ten .three #send{
    align-items:center;
    height:15px;
    font-size:10px;
    color:rgb(1, 41, 1);
    background-color: green;
}
.ten .four{
    padding-top:85px;
    padding-left:25px;
    
    
}
.ten .four .one .two h2{
    display:flex;
    color:rgb(23, 241, 23);
}
.ten .four .one .two p{
    color:rgba(41, 39, 39, 0.377);
}
.ten .four .one i{
    padding-top:50px;
    font-size:40px;
}

/* end of ten */


/* start of eleven */
.eleven{
    height:250px;
    width:100%;
}
.eleven iframe{
    height:250px;
    width:100%;
}

/* end of eleven */

/* start of footer */
.footer{
    padding-top:25px;
    margin-top:30px;
    height:170px;
    width:100%;
    color:white;
    text-align: center;
    background-color: #A3C962;
}
.footer span p:hover{
    color:black;
}
.footer i{
    padding-top:15px;
    font-size:25px;
}
/* end of footer */